[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
"h5py" = "*"
pillow = "*"
scikit-learn = "*"
matplotlib = "*"
progressbar = "*"
opencv-python = "*"
imageio = "*"
tqdm = "*"
torch = "*"
spectral-analysis = {editable = true,path = "."}
pandas = "*"

[dev-packages]
pytest = "*"
tox = "*"

[requires]
python_version = "3.9"
