[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
"h5py" = "*"
pillow = "*"
scikit-learn = "*"
matplotlib = "*"
progressbar = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.6"
